@font-face {
  font-family: 'aks';
  src:  url('fonts/aks.eot?grw9i7');
  src:  url('fonts/aks.eot?grw9i7#iefix') format('embedded-opentype'),
    url('fonts/aks.ttf?grw9i7') format('truetype'),
    url('fonts/aks.woff?grw9i7') format('woff'),
    url('fonts/aks.svg?grw9i7#aks') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aks' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
  content: "\e913";
}
.icon-img-single:before {
  content: "\e914";
}
.icon-xls:before {
  content: "\e915";
}
.icon-doc:before {
  content: "\e916";
}
.icon-ppt:before {
  content: "\e917";
}
.icon-pdf:before {
  content: "\e918";
}
.icon-arrow-big:before {
  content: "\e90f";
}
.icon-show:before {
  content: "\e910";
}
.icon-left:before {
  content: "\e911";
}
.icon-print:before {
  content: "\e912";
}
.icon-project-edit:before {
  content: "\e90e";
}
.icon-hand-ok:before {
  content: "\e90d";
}
.icon-circle-arrow-down:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e903";
}
.icon-img:before {
  content: "\e904";
}
.icon-text:before {
  content: "\e905";
}
.icon-save:before {
  content: "\e906";
}
.icon-cancel:before {
  content: "\e907";
}
.icon-logout:before {
  content: "\e908";
}
.icon-publish:before {
  content: "\e909";
}
.icon-modify:before {
  content: "\e90a";
}
.icon-arrow-double:before {
  content: "\e90b";
}
.icon-down:before {
  content: "\e900";
  color: #666;
}
.icon-search:before {
  content: "\e901";
}
.icon-time:before {
  content: "\e902";
  color: #666;
}
