@media screen and (min-width: 375px) {
    input::-moz-placeholder {
        font-size: 20px;
    }
    input:-ms-input-placeholder {
        font-size: 20px;
    }
    input::-webkit-input-placeholder {
        font-size: 20px;
    }
}
@media screen and (min-width:400px) {
    .c-calendar label {
        font-size: 20px !important;
        margin-right: 10px;
    }
    .c-calendar input::-webkit-input-placeholder {
        font-size: 20px !important;
    }
    .c-calendar input:-ms-input-placeholder {
        font-size: 20px !important;
    }
    .c-calendar input::-ms-input-placeholder {
        font-size: 20px !important;
    }
    .c-calendar input::placeholder {
        font-size: 20px !important;
    }
}
@media screen and (min-width:480px) {}
@media screen and (min-width:768px) {
    .alignleft {
        margin-right: 10px;
        float: left;
        clear: left;
    }
    .alignright {
        margin-left: 10px;
        float: right;
        clear: right;
    }
}
@media screen and (min-width:1024px) {
    .l-page {
        padding-top: 460px;
    }
    .l-page--small {
        padding-top: 320px;
    }
    .page-template-p-editproject .l-page {
        padding-top: 130px;
    }
    .page-template-p-editproject .c-tabs {
        position: absolute;
        top: -57px;
        left: 0;
        width: 100%;
        margin-left: 0;
    }
    .l-container {
        width: 100%;
        max-width: 1400px;
        padding-left: 25px;
        padding-right: 25px;
        margin: 0 auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .l-2col,
    .l-5col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        font-size: 0;
    }
    .l-2col>* {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        margin-right: 4%;
    }
    .l-2col>:nth-of-type(2n) {
        margin-right: 0;
    }
    .l-2col--big {
        padding-bottom: 0;
        margin: 0;
    }
    .l-2col--big>* {
        width: 50%;
        margin-right: 0;
    }
    .l-2col--big>:first-child {
        margin-bottom: 0;
    }
    .l-5col>* {
        display: inline-block;
        vertical-align: top;
        width: 18.4%;
        margin-right: 2%;
    }
    .l-5col>:nth-of-type(5n) {
        margin-right: 0;
    }
    .page-template-p-clienti .l-5col>:nth-of-type(5n),
    .page-template-p-industry .l-5col>:nth-of-type(5n) {
        margin-right: 2%;
    }
    .page-template-p-clienti .l-5col>:nth-of-type(5n + 1),
    .page-template-p-industry .l-5col>:nth-of-type(5n + 1) {
        margin-right: 0;
    }
    /*LOGIN*/
    .c-hero--login .c-hero__content {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .c-login {
        width: auto;
        max-width: 260px;
        min-width: 260px;
        height: auto;
        max-height: 260px;
        min-height: 260px;
        border: 18px solid transparent;
        -webkit-animation-name: animation-login;
        animation-name: animation-login;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .c-login__content {
        top: auto;
        -webkit-transform: none;
        transform: none;
        -webkit-animation-name: animation-login__content;
        animation-name: animation-login__content;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .c-letter__content {
        display: block;
        -webkit-animation-name: animation-letter__content;
        animation-name: animation-letter__content;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .c-disclaimer {
        display: block;
        -webkit-animation-name: animation-disclaimer;
        animation-name: animation-disclaimer;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    /* HEADER */
    .c-logo svg {
        width: 48px;
    }
    .c-site-header {
        -webkit-box-shadow: 0 0 60px 0 rgba(41, 36, 36, 0.8);
        box-shadow: 0 0 60px 0 rgba(41, 36, 36, 0.8);
    }
    .c-site-header__toggle {
        display: none;
    }
    .c-site-header__nav {
        position: relative;
        left: auto;
        right: auto;
        display: block !important;
        max-width: calc(100% - 125px);
        background-color: transparent;
        overflow: visible;
        -webkit-transition: none;
        transition: none;
        z-index: 2;
        float: right;
    }
    .c-site-header__nav__menu {
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        padding-top: 0;
    }
    .c-site-header__nav__menu li {
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        line-height: 48px;
        text-align:left;
        border-bottom:none;
    }
    .c-site-header__nav__menu li a {
        padding: 0 30px;
        border-bottom: 8px solid transparent;
    }
    .c-site-header__nav__menu li:hover a,
    .c-site-header__nav__menu li.current-item a {
        color: #f6e61d;
        border-color: #f6e61d;
    }
    .c-site-header__nav__menu li:last-of-type a {
        padding-right: 0;
        border-bottom: none;
    }
    .c-site-header__nav__menu li:last-of-type {
        position: relative;
        top: auto;
        right: auto;
        margin-left: 40px;
        margin-right: 5px;
        padding: 0;
        background-color: transparent;
        display: inline-block;
        left: auto;
    }
    .c-nav-user::after {
        right: -5px;
        width: 20px;
        height: 20px;
        font-size: 15px;
        line-height: 20px;
    }
    .c-nav-user__picture {
        width: 40px;
        height: 40px;
    }
    .c-site-header__nav__menu li:last-of-type a {
        padding-left: 40px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .c-site-header__nav__menu li:last-of-type::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 2px;
        height: 24px;
        background-color: #999999;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    /*C-HERO*/
    .c-hero {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        padding-top: 90px;
        padding-bottom: 50px;
    }
    .page-template-p-clienti .c-hero,
    .page-template-p-industry .c-hero,
    .page-template-p-industry-selected .c-hero {
        top: 90px;
        padding-top: 20px;
    }
    .page-template-p-viewproject .c-hero {
        position: relative;
        margin-bottom: 50px;
    }
    .page-template-p-viewproject .l-page {
        padding-top: 0;
    }
    .j-overlay .c-hero,
    .j-overlay .c-site-header {
        position: relative;
        top: auto;
        z-index: inherit;
    }
    .j-overlay .c-site-header__nav {
        position: relative;
    }
    .j-overlay .c-site-header__nav__menu li {
        display: inline-block !important;
    }
    .j-overlay .c-site-header__nav__menu li:last-of-type {
        position: relative;
    }
    .c-hero__content {
        padding-left: 100px;
        padding-right: 100px;
    }
    .page-template-p-clienti .c-hero__content,
    .page-template-p-clienti-selected .c-hero__content,
    .page-template-p-industry .c-hero__content,
    .page-template-p-industry-selected .c-hero__content,
    .page-template-p-viewproject .c-hero__content {
        padding-left: 0;
        padding-right: 0;
    }
    .c-hero__content__text__lead {
        margin-bottom: 15px;
    }
    .c-hero__content__text {
        margin-bottom: 50px;
    }
    .c-hero__content__text__client>* {
        display: inline-block;
        vertical-align: top;
    }
    .c-hero__content__text__client>:first-child {
        width: 40%;
    }
    .c-hero__content__text__client>:nth-child(2) {
        width: 59%;
    }
    .c-hero__content__text__client-selected {
        margin-bottom: 0;
    }
    /*C-CONTENT-BLOCK*/
    .c-content-block {
        position: relative;
        z-index: 1;
    }
    .c-content-block__content {
        padding: 70px 100px 120px 100px;
        margin-left: 0;
        margin-right: 0;
    }
    .page-template-p-serp .c-content-block__content,
    .page-template-p-clienti .c-content-block__content,
    .page-template-p-industry .c-content-block__content,
    .page-template-p-industry-selected .c-content-block__content,
    .page-template-p-clienti-selected .c-content-block__content {
        padding-left: 120px;
        padding-right: 120px;
    }
    .page-template-p-serp.j-filter-open .c-content-block__content,
    .page-template-p-clienti.j-filter-open .c-content-block__content,
    .page-template-p-industry.j-filter-open .c-content-block__content,
    .page-template-p-industry-selected.j-filter-open .c-content-block__content,
    .page-template-p-clienti-selected.j-filter-open .c-content-block__content {
        position: relative;
        padding-top: 88px;
    }
    .c-hero__content__text__meta>* {
        font-size: 16px;
    }
    .c-hero__content__text__meta strong {
        font-size: 20px;
        font-weight: 700;
    }
    .c-hero__content__text__meta small {
        display: inline-block;
        vertical-align: bottom;
        margin-top: 0;
        margin-left: 20px;
    }
    .c-hero__content__text__meta small .icon {
        line-height: 20px;
    }
    /*C-PROJECTS*/
    .c-projects {
        margin-top: 75px;
    }
    .c-project-item {
        width: 22.5%;
        margin-bottom: 20px;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .c-project-item__header {
        top: 20px;
        left: 20px;
        right: 20px;
    }
    .c-project-item__footer {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
        display: block;
        color: #fff;
        font-family: "futura-pt", sans-serif;
        font-size: 16px;
        z-index: 3;
        word-break: break-all;
    }
    .c-project-item:hover {
        background-color: #f6e61d;
        -webkit-box-shadow: 0 0 30px 0 rgba(41, 36, 36, 0.8);
        box-shadow: 0 0 30px 0 rgba(41, 36, 36, 0.6);
    }
    .c-project-item:hover .c-project-item__header>*,
    .c-project-item:hover .c-project-item__footer>* {
        color: #000;
    }
    .c-project-item__figure::before {
        content: "";
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .c-project-item:hover .c-project-item__figure::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f6e61d;
        z-index: 3;
    }
    /*C-CLIENT*/
    .c-client,
    .c-industry {
        position: relative;
        height: calc((100vw - 290px) * 18.4 / 100);
        padding: 50px 20px;
        margin-bottom: 2%;
    }
    .c-client__logo {
        width: 100%;
        height: 100%;
    }
    .c-client__title,
    .c-industry__caption {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
    .c-industry__title {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
    }
    /* RESULT-ITEM */
    .c-results__header {
        margin-bottom: 50px;
    }
    .c-results {
        margin-top: 40px;
    }
    .c-result-item {
        font-size: 16px;
        line-height: 21px;
        padding-top: 28px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 27px;
        border-color: #cccccc;
    }
    .c-result-item:hover {
        background-color: #f6e61d;
    }
    .c-result-item__title {
        line-height: 29px;
    }
    /* FORM */
    /*C-SEARCH*/
    input::-moz-placeholder {
        font-size: 28px;
    }
    input:-ms-input-placeholder {
        font-size: 28px;
    }
    input::-webkit-input-placeholder {
        font-size: 28px;
    }
    #j-search-fulltext {
        font-size: 28px;
        padding-left: 40px;
    }
    #j-searchform__submit span {
        width: 74px;
        height: 74px;
        background-color: #fff;
        border-radius: 3px;
    }
    .select2.autocomplete,
    .ui-autocomplete,
    #j-search-history {
        position: absolute;
        height: auto;
        background: #fff;
        font-size: 28px;
        line-height: 32px;
        font-weight: 400;
        padding: 0;
        border: none !important;
        border-radius: 0;
        z-index: 300;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top:0
    }
    .j-advanced-search-toggle {
        position: absolute;
        top: auto;
        bottom: -80px;
        left: 0;
        right: 0;
        height: 80px;
        color: #fff !important;
        background-color: #000;
        font-size: 30px;
        line-height: 80px;
        font-weight: bold;
    }
    .autocomplete .select2-results__option,
    .c-autocomplete-item {
        max-height: 80px;
        line-height: 80px;
        padding-left: 40px !important;
    }
    .c-autocomplete-items {
        max-height: 240px;
        overflow-y: scroll;
        padding: 0;
    }
    .c-autocomplete-item {
        position: relative;
    }
    .c-autocomplete-item:hover {
        background-color: #f6e61d;
        cursor: pointer;
    }
    .c-autocomplete-item__type {
        position: absolute;
        right: 40px;
        color: #666666;
        font-size: 16px;
        text-transform: uppercase;
    }
    .c-form__field input {
        height: 80px;
    }
    .c-search .icon-search {
        right: 3px;
        width: auto;
        height: auto;
        background-color: transparent;
        font-size: 53px;
        line-height: 74px;
    }
    .c-search .icon-search svg {
        width: 62px;
    }
    /*C-ADVANCED-SEARCH*/
    .c-advanced-search__header {
        padding: 22px 30px;
        -webkit-box-shadow: 0 0 30px 0 rgba(41, 36, 36, 0.3);
        box-shadow: 0 0 10px 0 rgba(41, 36, 36, 0.3);
    }
    .c-close {
        right: 30px;
    }
    .c-advanced-search .c-form__fieldset {
        font-size: 0;
    }
    .c-advanced-search .c-form {
        padding: 44px 30px;
    }
    .c-advanced-search .c-form__field {
        margin-bottom: 40px;
    }
    .c-advanced-search .c-form__field label {
        position: relative;
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .c-advanced-search .c-form .c-form__field textarea {
        width: 100%;
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .c-advanced-search .c-form .c-form__field-inline {
        display: inline-block;
        vertical-align: top;
        width: 47.9%;
        margin-right: 4%;
    }
    .c-advanced-search .c-form .c-form__field-inline:nth-child(2n) {
        margin-right: 0;
    }
    .c-advanced-search .c-select-container {
        width: 100%;
        height: 40px;
        /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAALCAYAAACd1bY6AAAABGdBTUEAALGPC/xhBQAAAHVJREFUKBVjYGBgiANiViCmBID0xzECidVAzALEYUD8G4hJBSCDQGaA9YI466GYVBdi1YtVEGgBPoBXD15JNFOJUkuMImLUwO3GpxifHNwAdAY2TdjE0PXh5CNr5gaqIjfG4RbADHwFNQzEpwiADEgCYoIGAQB8DhriFBZfrAAAAABJRU5ErkJggg==") no-repeat right 15px center #fff;
  */
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        border: 2px solid #000;
        border: 2px solid #000;
        border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(41, 36, 36, 0.3);
        box-shadow: 0 2px 2px 0 rgba(41, 36, 36, 0.3);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
    .c-advanced-search .c-select {
        width: 100%;
        height: 40px;
        color: #000;
        background: transparent;
        font-family: "futura-pt", sans-serif;
        font-size: 24px;
        font-weight: 400;
        text-decoration: none;
    }
    .c-calendar {
        padding-top: 0;
        float: none;
    }
    .c-calendar label {
        display: inline-block !important;
        vertical-align: middle;
        font-size: 24px !important;
        font-weight: 700;
        margin-bottom: 0 !important;
    }
    .c-form__footer {
        background-color: transparent;
        text-align: right;
        padding: 0px 20px 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .c-reset {
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;
        margin-bottom: 0;
    }
    .c-button {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        font-size: 20px;
        padding: 17px 90px;
    }
    .c-button:disabled {
        color: #e6e6e6;
        background-color: transparent;
        border: 4px solid #e6e6e6;
    }
    .c-button--small {
        color: #fff;
        background-color: rgb(33, 33, 33);
        padding: 15px 10px !important;
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .c-button--small::before {
        display: none;
    }
    .select-checkbox .select2-search__field::-webkit-input-placeholder,
    .select-radio .select2-search__field::-webkit-input-placeholder {
        font-size: 24px !important;
        font-weight: 400;
    }
    .select-checkbox .select2-search__field:-ms-input-placeholder,
    .select-radio .select2-search__field:-ms-input-placeholder {
        font-size: 24px !important;
        font-weight: 400;
    }
    .select-checkbox .select2-search__field::-ms-input-placeholder,
    .select-radio .select2-search__field::-ms-input-placeholder {
        font-size: 24px !important;
        font-weight: 400;
    }
    .select-checkbox .select2-search__field::-webkit-input-placeholder,
    .select-radio .select2-search__field::-webkit-input-placeholder {
        font-size: 24px !important;
        font-weight: 400;
    }
    .select-checkbox .select2-search__field::placeholder,
    .select-radio .select2-search__field::placeholder {
        font-size: 24px !important;
        font-weight: 400;
    }
    .j-multiple-pillbox-open.c-multiple-pillbox,
    .j-multiple-select-open.c-multiple-select,
    .j-single-select-open.c-single-select {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }
    .j-multiple-pillbox-open.c-multiple-pillbox::before,
    .j-multiple-select-open.c-multiple-select::before,
    .j-single-select-open.c-single-select::before {
        bottom: auto;
        height: 250px;
    }
    .c-single-select__title {
        font-size: 0;
    }
    .j-multiple-select-open .c-multiple-select__title,
    .j-single-select-open .c-single-select__title {
        position: absolute;
        left: auto;
        right: auto;
        display: block;
        width: 100%;
        color: #999;
        text-align: left;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        padding: 10px 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        z-index: 10;
    }
    .select2-container--open.multiple-pillbox .select2-selection__rendered{
        height: 40px !important;
    }
    .j-multiple-select-open .c-multiple-select__title .icon-down,
    .j-single-select-open .c-single-select__title .icon-down {
        padding-left: 0;
    }
    .j-multiple-select-open.c-multiple-select .c-select-container,
    .j-single-select-open.c-single-select .c-select-container {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    .multiple-pillbox .select2-dropdown,
    .select-checkbox .select2-dropdown,
    .select-radio .select2-dropdown {
        margin-top: 0;
    }
    .select-radio .select2-dropdown {
        height: 220px;
        margin-top: -40px;
    }
    .j-multiple-select-open .select-checkbox.select2-container--default .select2-selection--multiple::after,
    .j-single-select-open .select-radio.select2-container--default .select2-selection--single::after {
        right: 0;
        font-size: 30px;
    }
    .select-checkbox .selected,
    .select-radio .selected {
        width: 100%;
        height: 36px;
        line-height: 34px;
        padding-left: 10px;
        margin-left: 0;
    }
    .j-multiple-pillbox-open.c-multiple-pillbox label {
        display: block;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        margin-bottom: 10px;
    }
    .select-checkbox .select2-search--inline .select2-search__field,
    .select-radio .select2-search--inline .select2-search__field {
        height: 36px !important;
    }
    /*FORM FILTER*/
    .c-form--filter .c-button .icon {
        vertical-align: middle;
        font-size: 35px;
    }
    .c-form--filter .c-button .icon-circle-arrow-down {
        display: inline-block;
    }
    .c-form--filter .c-button .icon-filter {
        display: none;
    }
    .c-form--filter .c-button {
        position: absolute;
        right: 20px;
        bottom: 0;
        line-height: 58px;
        padding-top: 0 !important;
        padding-bottom: 5px !important;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }
    .page-template-p-clienti .c-form--filter .c-button,
    .page-template-p-industry .c-form--filter .c-button {
        display: none;
    }
    .c-form--filter .c-form__header,
    .c-form--filter .c-form__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .c-form--filter .c-form__footer .c-reset {
        display: block;
    }
    .c-form--filter .c-form__footer {
        position: static;
        background-color: grey;
        -webkit-transform: none;
        transform: none;
    }
    .c-form--filter .select2-container {
        width: 100%;
    }
    .c-form--filter {
        position: relative;
        padding-top: 24px !important;
        padding-left: 90px !important;
        padding-right: 220px !important;
        padding-bottom: 4px !important;
        -webkit-box-shadow: 0 0 30px 0 rgba(41, 36, 36, 0.8);
        box-shadow: 0 0 30px 0 rgba(41, 36, 36, 0.8);
        margin-left: -120px;
        margin-right: -120px;
    }
    .c-form--filter .l-2col>* {
        margin-right: 2%;
    }
    .c-form--filter .c-form__header {
        position: absolute;
        top: 30px;
        left: 21px;
    }
    .c-form--filter .c-form__header__title {
        font-size: 21px;
        line-height: 32px;
    }
    .c-form--filter .c-form__field {
        margin-bottom: 20px;
    }
    .c-form--filter .c-form__footer {
        padding: 0;
    }
    .c-form--filter .c-reset {
        position: absolute;
        top: 35px;
        right: 0;
    }
    .c-form--filter .c-calendar input {
        width: 62.8%;
        font-size: 16px !important;
        padding: 0 !important;
    }
    .c-form--filter .c-calendar label {
        font-size: 19px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field::-webkit-input-placeholder,
    .c-form--filter .select-radio .select2-search__field::-webkit-input-placeholder {
        font-size: 20px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field:-ms-input-placeholder,
    .c-form--filter .select-radio .select2-search__field:-ms-input-placeholder {
        font-size: 20px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field::-ms-input-placeholder,
    .c-form--filter .select-radio .select2-search__field::-ms-input-placeholder {
        font-size: 20px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field::-webkit-input-placeholder,
    .c-form--filter .select-radio .select2-search__field::-webkit-input-placeholder {
        font-size: 20px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field:-ms-input-placeholder,
    .c-form--filter .select-radio .select2-search__field:-ms-input-placeholder {
        font-size: 20px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field::-ms-input-placeholder,
    .c-form--filter .select-radio .select2-search__field::-ms-input-placeholder {
        font-size: 20px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field::placeholder,
    .c-form--filter .select-radio .select2-search__field::placeholder {
        font-size: 20px !important;
    }
    .c-form--filter .j-multiple-select-open .select-checkbox .select2-search__field::-webkit-input-placeholder,
    .c-form--filter .j-single-select-open .select-radio .select2-search__field::-webkit-input-placeholder {
        font-size: 18px;
    }
    .c-form--filter .j-multiple-select-open .select-checkbox .select2-search__field:-ms-input-placeholder,
    .c-form--filter .j-single-select-open .select-radio .select2-search__field:-ms-input-placeholder {
        font-size: 18px;
    }
    .c-form--filter .j-multiple-select-open .select-checkbox .select2-search__field::-ms-input-placeholder,
    .c-form--filter .j-single-select-open .select-radio .select2-search__field::-ms-input-placeholder {
        font-size: 18px !important;
    }
    .c-form--filter .j-multiple-select-open .select-checkbox .select2-search__field::placeholder,
    .c-form--filter .j-single-select-open .select-radio .select2-search__field::placeholder {
        font-size: 18px !important;
    }
    /*C-CURRENT-QUERY*/
    .c-current-query {
        max-width: 80%;
        font-size: 32px;
        line-height: 48px;
        padding: 0;
        margin: 0 auto;
    }
    .c-current-query .select2-container {
        font-size: 28px;
    }
    .c-select-container {
        height: 40px;
        /*background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAALCAYAAACd1bY6AAAABGdBTUEAALGPC/xhBQAAAHVJREFUKBVjYGBgiANiViCmBID0xzECidVAzALEYUD8G4hJBSCDQGaA9YI466GYVBdi1YtVEGgBPoBXD15JNFOJUkuMImLUwO3GpxifHNwAdAY2TdjE0PXh5CNr5gaqIjfG4RbADHwFNQzEpwiADEgCYoIGAQB8DhriFBZfrAAAAABJRU5ErkJggg==") no-repeat right 15px center #fff;
  */
        border: 2px dashed #cccccc;
        border-radius: 2px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .c-select-container:last-of-type {
        margin-right: 0;
    }
    .c-select {
        height: 40px;
        font-size: 30px;
        padding: 0 10px;
        padding-right: 30px;
        text-decoration: none;
    }
    .current-query .select2-selection--single {
        border: 1px dashed #999;
        pointer-events: initial;
    }
    .current-query .select2-selection--single .select2-selection__rendered {
        padding: 5px 50px 5px 10px;
        text-decoration: none;
    }
    .current-query .select2-results__option {
        font-size: 28px;
        font-weight: 700;
    }
    .current-query.select2-container--below .select2-selection__rendered {
        background-color: #f6e61d;
    }
    .j-current-query-open .current-query.select2-container--below .select2-selection__rendered {
        background-color: #fff;
    }
    .current-query .select2-selection--single .select2-selection__rendered {
        position: relative;
    }
    .current-query .select2-selection--single .select2-selection__rendered::after {
        content: "\e900";
        position: absolute;
        top: 50%;
        right: 10px;
        font-family: 'aks' !important;
        font-size: 28px;
        line-height: 1;
        font-weight: normal;
        font-weight: 400;
        text-transform: none;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        speak: none;
        font-style: normal;
        font-variant: normal;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .j-current-query-open .current-query .select2-selection--single .select2-selection__rendered::after {
        content: "\e900";
        font-family: 'aks' !important;
        line-height: 1;
        font-weight: normal;
        text-transform: none;
        speak: none;
        font-style: normal;
        font-variant: normal;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .j-current-query-open .current-query .select2-selection--single .select2-selection__placeholder {
        color: #999999;
        font-size: 20px;
        font-weight: 400;
    }
    .j-current-query-open .current-query .select2-selection--single {
        border: none;
    }
    .j-current-query-open .l-page::before {
        bottom: 0;
        z-index: 6;
    }
    .j-current-query-open .c-content-block {
        position: static;
        z-index: 100;
    }
    .c-form,
    .j-current-query-open .select2-container.select2-container--open {
        z-index: 9999;
    }
    /*SERP SEARCH*/
    .page-template-p-serp .c-form {
        display: block;
    }
    .page-template-p-serp .c-form .c-form__field:nth-last-of-type(-n+2) {
        display: none;
    }
    .page-template-p-clienti-selected .c-form .c-form__field:last-of-type,
    .page-template-p-industry-selected .c-form .c-form__field:last-of-type {
        display: none;
    }
    .page-template-p-serp.j-filter-open .c-form .c-form__field:nth-last-of-type(-n+2) {
        display: block;
    }
    .page-template-p-clienti-selected.j-filter-open .c-form .c-form__field:last-of-type,
    .page-template-p-industry-selected.j-filter-open .c-form .c-form__field:last-of-type {
        display: block;
    }
    .j-filter-open .c-form--filter .c-button .icon-circle-arrow-down {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .j-filter-open .c-form--filter .c-form__header,
    .j-filter-open .c-form--filter .c-form__content,
    .j-filter-open .c-form--filter .c-form__footer .c-reset {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .j-filter-open .c-form--filter {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        background-color: #fff;
        margin-left: 0;
        margin-right: 0;
        z-index: 5;
    }
    .j-filter-open .c-form--filter .c-form__header {
        display: block;
        text-align: left;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
    }
    .j-filter-open .c-form--filter .c-button {
        opacity: 1;
    }
    /*C-MODAL*/
    .c-modal {
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        width: 95vw;
        max-height: 90vh;
        padding: 20px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    /*SIDEBAR*/
    body.j-sidebar-open {
        overflow: hidden;
    }
    .c-sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        padding: 0;
        padding-top: 20px;
        overflow: hidden;
        opacity: 0;
    }
    .j-sidebar-open .c-sidebar {
        left: auto;
        right: 0;
        width: 525px;
        overflow: auto;
        opacity: 1;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .c-sidebar__header,
    .c-sidebar__content {
        width: 485px;
        overflow: hidden;
    }
    .c-sidebar__footer {
        justify-content: space-between;
        padding: 20px 30px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify
    }
    .c-sidebar__footer__title {
        text-transform: none;
    }
    .c-sidebar__footer__link .icon {
        display: inline-block;
    }
    .j-sidebar-open .l-page {
        position: relative;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        -webkit-transform: translateX(-500px);
        transform: translateX(-500px);
    }
    .j-sidebar-open .l-page::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 25px;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 6;
    }
    .j-sidebar-open .l-container {
        margin-right: 0;
    }
    .c-notification__header {
        padding: 20px 20px 0 80px;
    }
    .c-notification--small .c-notification__header {
        padding: 20px 20px 0 20px;
    }
    .c-notification__header__figure {
        top: 20px;
        left: 20px;
    }
    .c-notification__header__title {
        font-size: 22px;
        font-weight: 700;
    }
    .c-notification__header__lead {
        font-size: 18px;
    }
    .c-notification__content {
        padding-left: 80px;
    }
    .c-notification--small .c-notification__content {
        padding-left: 20px;
    }
    .c-notification__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #666666;
        font-size: 0;
        padding: 0;
    }
    .c-notification__footer__link {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        color: #fff;
        background-color: transparent;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        padding: 23px;
        margin-right: 0;
    }
    .c-notification__footer__link::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 20px;
        background-color: #9b9b9b;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .c-notification__footer__link:last-of-type::after {
        display: none;
    }
    .c-form--edit .c-form__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 0;
    }
    .c-form--edit .c-form__fieldset {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        background-color: #fff;
        padding: 50px 25px;
    }
    .c-advanced-search .c-form--edit .j-multiple-select-open .c-select-container,
    .c-advanced-search .c-form--edit .j-single-select-open .c-select-container {
        padding-left: 0;
        padding-right: 0;
    }
    /*SCHEDA EDIT*/
    .c-form--edit {
        margin-left: 0;
        margin-right: 0;
    }
    .c-form--edit .c-form__header {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 80px;
    }
    .c-form--edit .c-form__header .c-form__field textarea {
        font-size: 44px;
    }
    .c-form--edit .c-form__header .c-form__field {
        width: 50%;
    }
    .c-form--edit .c-form__fieldset:nth-of-type(2) {
        margin-top: 0;
    }
    .c-form__fieldset__footer,
    .c-content-block--read__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 0;
    }
    .c-form__fieldset__footer__button,
    .c-content-block--read__footer__button {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        padding: 20px;
    }
    .c-form--edit .c-form__fieldset__footer__button:hover,
    .c-content-block--read__footer__button:hover {
        background-color: #f6e61d;
    }
    .c-form__fieldset__footer__button::after,
    .c-content-block--read__footer__button::after {
        content: "";
        position: absolute;
        top: 50%;
        left: auto;
        right: 0;
        bottom: auto;
        width: 1px;
        height: 23px;
        background-color: #9b9b9b;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .c-edit-no-complet__footer__buttons .c-button:not(.c-button--ghost) {
        margin-top: 0;
        margin-left: 22px;
    }
    .c-tabs__item {
        font-size: 18px;
        border-bottom: 8px solid transparent;
    }
    .c-form--edit .c-form__footer {
        justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }
    .c-form--edit .c-form__footer .c-button--cancel {
        display: block;
    }
    /*SCHEDA LETTURA*/
    .c-content-block--read__footer {
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -20px;
    }
    .page-template-p-viewproject .c-hero__content__text {
        width: 50%;
    }
    .c-content-block--read .c-content-block__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        padding: 0;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }
    .c-read-item {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .c-read-item--inline {
        display: block;
    }
    .c-read-item__title {
        font-size: 16px;
    }
    .c-content-block--read .c-content-block__footer .c-button span:not(.icon) {
        display: inline-block;
    }
    .c-content-block--read .c-content-block__footer .c-button:hover {
        background-color: #f6e61d
    }
    .c-content-block--read .c-content-block__footer .c-button:first-of-type {
        display: block;
    }
    .c-tabs__nav__menu {
        overflow-x: hidden;
    }
    .c-tabs__nav__menu li {
        font-size: 16px;
        padding: 16px 20px;
        border-bottom: 7px solid transparent;
    }
    .c-related-projects-slider {
        padding: 0 100px;
        margin: 0;
    }
    .c-related-projects-slider .slick-list {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .c-related-projects-slider .slick-dots {
        margin-top: 60px;
    }
    .c-related-projects-slider .slick-dots li {
        margin-right: 10px;
    }
    .c-related-projects-slider .slick-dots li button {
        width: 12px;
        height: 12px;
    }
    .c-overlay-attached__content__documents,
    .c-overlay-photo__content__photos {
        padding-left: 150px;
        padding-right: 150px;
        margin-top: 40px;
    }
    .c-related-projects-slider .c-project-item.slick-current {
        -webkit-transform: none;
        transform: none;
    }
    .c-related-projects-slider .c-project-item {
        margin-left: 10px;
        margin-right: 10px
    }
}
@media screen and (min-width:1280px) {
    .l-container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .c-calendar input::-webkit-input-placeholder {
        font-size: 24px !important;
    }
    .c-calendar input:-ms-input-placeholder {
        font-size: 24px !important;
    }
    .c-calendar input::-ms-input-placeholder {
        font-size: 24px !important;
    }
    .c-calendar input::placeholder {
        font-size: 24px !important;
    }
    /*FORM FILTER*/
    .c-form--filter {
        padding-left: 100px !important;
        padding-right: 340px !important;
    }
    .c-form--filter .c-form__header__title {
        font-size: 24px;
    }
    .c-form--filter .c-button {
        right: 120px;
    }
    .c-form--filter .c-calendar label {
        font-size: 22px !important;
    }
    .c-form--filter .c-calendar input {
        font-size: 21px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field::-webkit-input-placeholder,
    .c-form--filter .select-radio .select2-search__field::-webkit-input-placeholder {
        font-size: 24px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field:-ms-input-placeholder,
    .c-form--filter .select-radio .select2-search__field:-ms-input-placeholder {
        font-size: 24px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field::-ms-input-placeholder,
    .c-form--filter .select-radio .select2-search__field::-ms-input-placeholder {
        font-size: 24px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field::-webkit-input-placeholder,
    .c-form--filter .select-radio .select2-search__field::-webkit-input-placeholder {
        font-size: 24px !important;
    }
    .c-form--filter .select-checkbox .select2-search__field::placeholder,
    .c-form--filter .select-radio .select2-search__field::placeholder {
        font-size: 24px !important;
    }
}
@media screen and (min-width:1400px) {
    .c-client {
        height: 204px;
    }
    .c-industry {
        height: 204px;
    }
}