/*
Theme Name: AKS
Author: Trap Studio
Author URI: http://www.trapstudio.it/
Version: 1.0
Text Domain: aks
*/
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.u-template {
    opacity: 0;
}
.alignleft {
    display: block;
    margin-bottom: 10px;
}
.alignright {
    display: block;
    margin-bottom: 10px;
}
.aligncenter {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.error404 .c-page-header,
.error404 .c-content__text {
    text-align: center;
}
body {
    background: #212121;
    background-image: url("img/background.png");
    background-repeat: repeat-x;
    background-position-y: top;
    margin: 0;
}
input:focus,
select:focus {
    outline: none;
}
.l-page {
    position: relative;
    padding-top: 62px;
}
.login .l-page {
    padding: 0;
}
.l-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(33, 33, 33, 0.9);
    z-index: 5;
}
/*LOGIN*/
@-webkit-keyframes animation-login {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    15% {
        min-width: 260px;
        max-height: 260px;
        min-height: 260px;
        border-color: #fff;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    35% {
        min-width: 260px;
        max-height: 260px;
        min-height: 260px;
        border-color: #fff;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    50% {
        min-width: 360px;
        max-height: 360px;
        min-height: 360px;
        background-color: transparent;
        border-color: #fff;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    70% {
        min-width: 375px;
        max-height: 800px;
        background-color: #fff;
        padding: 26px 4px;
        border-color: #fff;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    100% {
        min-width: 375px;
        max-height: 800px;
        background-color: #fff;
        padding: 26px 4px;
        border-color: #fff;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
}
@keyframes animation-login {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    15% {
        min-width: 260px;
        max-height: 260px;
        min-height: 260px;
        border-color: #fff;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    35% {
        min-width: 260px;
        max-height: 260px;
        min-height: 260px;
        border-color: #fff;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    50% {
        min-width: 360px;
        max-height: 360px;
        min-height: 360px;
        background-color: transparent;
        border-color: #fff;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    70% {
        min-width: 375px;
        max-height: 800px;
        background-color: #fff;
        padding: 26px 4px;
        border-color: #fff;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    100% {
        min-width: 375px;
        max-height: 800px;
        background-color: #fff;
        padding: 26px 4px;
        border-color: #fff;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
}
@-webkit-keyframes animation-login__content {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    45% {
        opacity: 0;
        visibility: hidden;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    70% {
        opacity: 0;
        visibility: hidden;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes animation-login__content {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    45% {
        opacity: 0;
        visibility: hidden;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    70% {
        opacity: 0;
        visibility: hidden;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@-webkit-keyframes animation-letter__content {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
        visibility: visible;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    30% {
        opacity: 1;
        visibility: visible;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    35% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes animation-letter__content {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
        visibility: visible;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    30% {
        opacity: 1;
        visibility: visible;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    35% {
        opacity: 0;
        visibility: hidden;
    }
}
@-webkit-keyframes animation-disclaimer {
    10% {
        opacity: 0;
    }
    15% {
        opacity: 1;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    30% {
        opacity: 1;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    35% {
        opacity: 0;
    }
}
@keyframes animation-disclaimer {
    10% {
        opacity: 0;
    }
    15% {
        opacity: 1;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    30% {
        opacity: 1;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
    35% {
        opacity: 0;
    }
}
.note-editor {
    font-size: 16px;
    line-height: 1.2;
}
.note-resizebar {
    display: none;
}
.c-hero--login {
    height: 100vh;
    min-height: 700px;
    padding: 0 !important;
}
.c-hero--login .c-hero__content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.c-login {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    font-family: "futura-pt", sans-serif;
    padding: 20px;
    margin: 0 auto;
}
.c-letter__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    font-family: "futura-pt", sans-serif;
    font-size: 190px;
    /*Da rivedere con font giusto*/
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
}
.c-letter__content:after {
    content: attr(data-letter);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-weight: 500;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.c-disclaimer {
    display: none;
    color: #ffffff;
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-size: 13px;
    line-height: 1.85;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 160px;
    opacity: 0;
}
/*login-content*/
.c-login__content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.c-login__header {
    text-align: center;
    margin-bottom: 56px;
}
.login-username input,
.login-password input {
    width: 100%;
    background-color: transparent;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding: 8px 4px;
    border: none;
    border-bottom: 1px dashed #999999;
}
.login-username input {
    margin-bottom: 48px;
}
.login-username input::-webkit-input-placeholder,
.login-password input::-webkit-input-placeholder {
    color: #999999;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.login-username input:-ms-input-placeholder,
.login-password input:-ms-input-placeholder {
    color: #999999;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.login-username input::-ms-input-placeholder,
.login-password input::-ms-input-placeholder {
    color: #999999;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.login-username input::placeholder,
.login-password input::placeholder {
    color: #999999;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
.login-submit {
    margin-top: 50px;
}
.login-submit input {
    width: 100%;
    color: #fff;
    background-color: #202120;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    border: none;
}
.login-checkbox {
    position: relative;
    font-size: 20px;
    margin-top: 30px;
}
.login-checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
.login-checkbox span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #666666;
    border-radius: 2px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
}
.login-checkbox input[type="checkbox"]:checked+span::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 1px;
    width: 8px;
    height: 3px;
    background: transparent;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.login-checkbox label {
    display: inline-block;
    vertical-align: middle;
    color: #666666;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    line-height: 1;
    padding-left: 35px;
    cursor: pointer;
}
/*C-BREADCRUMBS*/
.c-breadcrumbs {
    margin-bottom: 35px;
}
.c-breadcrumbs__item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-right: 5px;
}
.c-breadcrumbs__item.current-item {
    font-weight: 700;
}
.c-breadcrumbs__item::after {
    content: "/";
    margin-left: 10px;
}
.c-breadcrumbs__item:last-of-type::after {
    display: none;
}
/* HEADER */
.c-logo p {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
}
.c-logo svg {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
}
.c-site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #212121;
    font-size: 0;
    padding: 16px 0;
    z-index: 5;
}
.c-site-header .c-logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 10;
}
.c-site-header__toggle {
    position: absolute;
    top: 11px;
    right: 10px;
    padding: 5px 8px;
    z-index: 10;
}
.j-menu-open .c-site-header__toggle {
    position: fixed;
}
.c-site-header__toggle__item {
    display: block;
    width: 30px;
    border-top: 1px solid #fff;
    border-radius: 10px;
    margin: 6px 0 6px auto;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
.j-menu-open .c-site-header__toggle__item {
    opacity: 0;
}
.j-menu-open .c-site-header__toggle__item:first-of-type {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
}
.j-menu-open .c-site-header__toggle__item:last-of-type {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}
.c-site-header__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: #000;
    overflow: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9;
}
.j-menu-open .c-site-header__nav {
    bottom: 0;
}
.c-site-header__nav__menu {
    margin-top: 60px;
    position: relative;
}
.j-menu-open  .c-site-header__nav__menu {
    padding-top: 140px;
}
.c-site-header__nav__menu li {
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    text-align:center;
    border-bottom:1px solid #4D4D4D;
}

.c-site-header__nav__menu li a {
    display: block;
    padding: 30px 20px;
}

.c-site-header__nav__menu li a.c-nav-user {
    padding: 40px 20px;
}
.c-nav-user__picture {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.c-nav-user {
    position: relative;
}
.c-nav-user::after {
    content: attr(data-notifications);
    position: absolute;
    top: 0;
    right: 13px;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #ff3951;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    border-radius: 50%;
}
.c-nav-user[data-notifications='0']::after {
    display: none;
}
.c-site-header__nav__menu li:last-of-type a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.c-site-header__nav__menu li:last-of-type {
    position: absolute;
    top: 30px;
    left: 0;
    border-bottom:none;
    display: block;
    right: 0;
    background-color: #383838;
}
/*C-HERO*/
.c-hero {
    padding-top: 18px;
    padding-bottom: 40px;
}
.c-hero__content__text>* {
    color: #fff;
}
.c-hero__content__text__lead {
    font-weight: 300;
    margin-bottom: 10px;
}
.page-template-p-clienti .c-hero__content__text__lead,
.page-template-p-industry .c-hero__content__text__lead,
.page-template-p-industry-selected .c-hero__content__text__lead,
.page-template-p-clienti-selected .c-hero__content__text__lead {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}
.c-hero__content__text {
    margin-bottom: 20px;
}
.page-template-p-serp .c-content-block__content,
.page-template-p-clienti .c-content-block__content,
.page-template-p-industry .c-content-block__content,
.page-template-p-industry-selected .c-content-block__content,
.page-template-p-clienti-selected .c-content-block__content {
    padding-top: 0;
}
.c-hero__content__text__client-selected {
    position: relative;
    padding-left: 90px;
    margin-bottom: 50px;
}
.c-hero__content__text__client-selected>* {
    display: inline-block;
    vertical-align: middle;
}
.c-hero__content__text__client-selected__title .c-hero__content__text__title {
    color: #fff;
}
.c-hero__content__text__client-selected__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
    margin-right: 35px;
}
.c-hero__content__text__client-selected__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.c-hero .c-content {
    font-size: 20px;
    line-height: 28px;
}
.c-hero__content__text__meta {
    margin-top: 20px;
}
.c-hero__content__text__meta small .icon {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    margin-right: 3px;
}
.c-hero__content__text__meta>* {
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.c-hero__content__text__meta strong {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.c-hero__content__text__meta strong::after {
    content: "|";
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 5px;
}
.c-hero__content__text__meta small {
    display: block;
    margin-top: 20px;
}
/*C-CONTENT-BLOCK*/
.c-content-block__content {
    background-color: #fff;
    padding: 30px 20px 50px 20px;
    margin-left: -20px;
    margin-right: -20px;
}
/* SPINNER*/
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.c-spinner {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 100px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
/*C-PROJECT-ITEM*/
.c-projects {
    position: relative;
    margin-top: 35px;
}
.c-project-item {
    position: absolute;
    display: block;
    width: 48%;
    min-height: 215px;
    background-color: transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 5px 0 rgba(41, 36, 36, 0.5);
    box-shadow: 0 0 5px 0 rgba(41, 36, 36, 0.5);
    margin-bottom: 10px;
}
.c-project-item--special {
    background-color: #F4F4F4;
}
.c-project-item__figure {
    width: 100%;
    height: 100%;
}
.c-project-item__figure img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 215px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 2px;
}
.c-project-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(20%, rgba(0, 0, 0, 0.2)), color-stop(60%, rgba(0, 0, 0, 0.25)), color-stop(77%, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.8)));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0.6) 77%, rgba(0, 0, 0, 0.8));
    border-radius: 2px;
    z-index: 2;
}
.c-project-item--special::before {
    display: none;
}
.c-project-item__header {
    position: absolute;
    top: 20px;
    left: 14px;
    right: 14px;
    z-index: 3;
}
.c-project-item__header>* {
    color: #fff;
}
.c-project-item--special .c-project-item__header>*,
.c-project-item--special .c-project-item__footer {
    color: #000;
}
.c-project-item__header__lead {
    margin-top: 8px;
}
.c-project-item__footer {
    display: none;
}
/*C-RESULTS*/
.c-results {
    margin-top: 14px;
}
.c-results__header {
    margin-bottom: 30px;
}
.c-results__header>* {
    display: inline-block;
    vertical-align: middle;
}
.c-results__header__order {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    float: right;
}
.c-results__header__order .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    line-height: 22px;
    margin-top: -5px;
    margin-left: 15px;
}
/*C-CLIENT*/
.page-template-p-clienti .c-results__header__title--select-apply,
.page-template-p-industry .c-results__header__title--select-apply {
    display: none;
}
.page-template-p-clienti.j-choise-select .c-results__header__title--select-apply,
.page-template-p-industry.j-choise-select .c-results__header__title--select-apply {
    display: inline-block;
    font-weight: 400;
}
.page-template-p-clienti.j-choise-select .c-results__header__title--select-apply strong,
.page-template-p-industry.j-choise-select .c-results__header__title--select-apply strong {
    font-weight: 700;
}
.page-template-p-clienti.j-choise-select .c-results__header__title--select-apply small,
.page-template-p-industry.j-choise-select .c-results__header__title--select-apply small {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}
.page-template-p-clienti.j-choise-select .c-results__header__title--default,
.page-template-p-industry.j-choise-select .c-results__header__title--default {
    display: none;
}
.c-client,
.c-industry {
    position: relative;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #F5F5F5;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(41, 36, 36, 0.3);
    box-shadow: 0px 1px 1px 1px rgba(41, 36, 36, 0.3);
    margin-bottom: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
.c-client__logo {
    display: inline-block;
    vertical-align: middle;
    width: 88px;
    height: 70px;
}
.c-client__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.c-client__title,
.c-industry__caption {
    display: inline-block;
    vertical-align: middle;
}
/* RESULT-ITEM */
.c-result-item {
    display: block;
    color: #000;
    font-size: 13px;
    line-height: 17px;
    padding-top: 15px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.c-result-item__title {
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 4px;
}
.c-result-item__title strong {
    font-weight: 700;
}
/*C-FORM*/
/*C-SEARCH*/
input::-moz-placeholder {
    color: #999999;
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
input:-ms-input-placeholder {
    color: #999999;
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
input::-webkit-input-placeholder {
    color: #999999;
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
#j-searchform__submit span svg {
    fill: #000000 !important;
}
#j-searchform__submit.j-highlighted span {
    color: #fff;
    background-color: #000;
}
#j-searchform__submit.j-highlighted svg {
    fill: #fff !important;
}
#j-searchform__submit.j-active span {
    background-color: #f6e61d;
}
.select2.autocomplete,
.ui-autocomplete,
#j-search-history {
    position: absolute;
    height: 320px;
    background: #fff;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    padding: 0;
    border: none !important;
    border-radius: 0;
    z-index: 300;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 17px;
}
.j-advanced-search-toggle {
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: #fff !important;
    background-color: #000;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    -ms-flex-pack: distribute;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.c-form__fieldset {
    padding: 0;
    border: none;
    margin: 0;
}
.c-form__field {
    position: relative;
    margin-bottom: 20px;
}
.c-form__field input {
    display: block;
    width: 100%;
    height: 50px;
    color: #000;
    background-color: #fff;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    padding-right: 60px;
    border: none;
    border-radius: 2px;
}
.c-search .icon-search {
    position: absolute;
    top: 50%;
    right: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #f6e61d;
    font-size: 40px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.j-menu-open .c-search .icon-search, .j-current-query-open .c-search .icon-search {
    z-index: 4;
}
.c-search .icon-search svg {
    width: 37px;
}
#j-search-fulltext {
    border-bottom: 1px solid #F4F4F4
}
/*ADVANCED SEARCH*/
.c-modal-container .c-advanced-search {
    background-color: #fff;
}
.c-advanced-search__header {
    position: relative;
    background-color: #f6e61d;
    padding: 17px 20px;
}
.c-advanced-search .c-form {
    padding: 17px 20px;
}
.c-close {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.c-close .icon svg {
    width: 21px;
}
.c-advanced-search .c-form__field {
    margin-bottom: 20px;
}
.c-advanced-search .c-form__field label {
    position: relative;
    font-family: "futura-pt", sans-serif;
    font-size: 13px;
}
.c-advanced-search .c-form .c-form__field input {
    height: 40px;
    color: #000;
    font-size: 20px;
    padding: 0;
    padding-left: 10px;
    z-index: 10;
}
.c-advanced-search .c-form .c-form__field input::-webkit-input-placeholder {
    color: #999999;
    font-size: 20px;
}
.c-advanced-search .c-form .c-form__field input:-ms-input-placeholder {
    color: #999999;
    font-size: 20px;
}
.c-advanced-search .c-form .c-form__field input::-ms-input-placeholder {
    color: #999999;
    font-size: 20px;
}
.c-advanced-search .c-form .c-form__field input::placeholder {
    color: #999999;
    font-size: 20px;
}
.c-advanced-search .c-select-container {
    width: 100vw;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    /*background-color: #f6e61d;*/
    border: none;
    margin-left: -20px;
    margin-right: -20px;
    overflow: hidden;
}
.c-advanced-search .c-form--edit .c-select-container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.c-advanced-search .c-form--edit .j-multiple-select-open .c-select-container {
    padding-left: 20px;
    padding-right: 20px;
}
.c-advanced-search .c-form--edit .c-form__field-inline {
    margin-bottom: 20px;
}
.c-advanced-search .c-form__field--yellow {
    margin-bottom: 0;
}
.c-advanced-search .c-select-container:last-of-type {
    margin-bottom: 0;
}
.c-advanced-search .c-select {
    width: 100% !important;
    height: 50px;
    color: #000;
    background: transparent;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgb(230, 230, 230);
    /*border: none*/
    border-radius: 0;
    text-decoration: none;
}
/*cuurent-query select*/
.current-query {
    width: auto !important;
}
.current-query .select2-selection--single {
    border: none;
}
.current-query .select2-selection--single .select2-selection__placeholder {
    font-weight: 700;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #000;
}
.select2-selection--single .select2-selection__arrow,
.select2-selection--single .select2-selection__clear {
    display: none;
}
.current-query .select2-selection--single .select2-selection__rendered {
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: underline;
}
.current-query .select2-selection--single {
    height: auto;
}
.j-current-query-open .select2-container.select2-container--open {
    z-index: 9999;
}
 .j-current-query-open .l-page::before {
    bottom: 0;
    z-index: 6;
}

.c-autocomplete-items {
    padding-top: 10px;
    padding-left:10px;
    padding-right:10px;
}
.c-autocomplete-item {
    margin-bottom:20px;
}
/*modal select*/
.select-checkbox .select2-search__field::-webkit-input-placeholder,
.select-radio .select2-search__field::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 700;
}
.select-checkbox .select2-search__field:-ms-input-placeholder,
.select-radio .select2-search__field:-ms-input-placeholder {
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 700;
}
.select-checkbox .select2-search__field::-ms-input-placeholder,
.select-radio .select2-search__field::-ms-input-placeholder {
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 700;
}
.select-checkbox .select2-search__field::placeholder,
.select-radio .select2-search__field::placeholder {
    color: #000 !important;
    font-size: 20px !important;
    font-weight: 700;
}
.select-checkbox.select2-container--focus.select2-container--below,
.select-radio.select2-container--focus.select2-container--below {
    height: 40px;
}
.select-checkbox .select2-selection--multiple .select2-selection__rendered,
.select-radio .select2-selection--single .select2-selection__rendered {
    height: 50px;
    padding: 0;
    border-bottom: 1px solid #989898;
}
.j-multiple-select-open .select-checkbox .select2-selection--multiple .select2-selection__rendered,
.j-multiple-select-open .select-radio .select2-selection--single .select2-selection__rendered {
    border-bottom: none;
}
.select-checkbox .select2-selection--multiple .select2-selection__choice,
.select-radio .select2-selection--single .select2-selection__choice {
    position: absolute;
    display: inline-block;
    float: none;
}
.select-checkbox .select2-selection--multiple,
.select-radio .select2-selection--single {
    height: 40px;
    background: transparent;
    border: none;
}
.c-multiple-select .c-select-container {
    position: relative;
    z-index: 4;
}
.select-checkbox .select2-results>.select2-results__options,
.select-radio .select2-results>.select2-results__options {
    max-height: 170px;
}
.select-checkbox.select2-container--focus .select2-selection--multiple,
.select-checkbox.select2-container--focus .select2-selection--single {
    height: auto;
    border: none;
}
.select2-container {
    width: 100% !important;
    font-size: 20px;
}
.c-current-query .select2-container {
    width: auto !important;
    font-size: 16px;
}
.c-modal .select2-container--default .select2-selection--single {
    height: 40px;
    border: none;
}
.c-modal .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 40px;
    color: #000;
    line-height: 40px;
}
.c-modal .select2-search--dropdown {
    position: relative;
    padding: 10px 45px 10px 5px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    height: 40px;
    font-family: "futura-pt", sans-serif;
    font-size: 24px;
    padding: 0;
    border: none;
    border-bottom: 1px dashed #999999;
}
.c-modal .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}
.multiple-pillbox .select2-selection--multiple,
.multiple-pillbox .select2-selection--multiple {
    height: auto;
    border: none;
    border-bottom: 1px dashed #999;
}
.multiple-pillbox.select2-container--focus .select2-selection--multiple {
    height: auto;
    border: none;
    border-bottom: 1px dashed #999;
}
.j-multiple-pillbox-open .multiple-pillbox.select2-container--focus .select2-selection--multiple {
    position: relative;
    border-bottom: 2px solid #000;
    z-index: 10;
}
.multiple-pillbox .select2-selection--multiple .select2-selection__choice {
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.multiple-pillbox .select2-selection--multiple .select2-selection__rendered li {
    position: relative;
    width: 100%;
    padding-right: 30px
}
.c-modal .select2-selection__choice+.select2-search--inline {
    width: 0 !important;
}
.multiple-pillbox .select2-selection--multiple .select2-selection__choice__remove {
    position: absolute;
    top: 50%;
    right: 5px;
    color: #999;
    font-size: 30px;
    font-weight: 400;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.js-example-basic-multiple .select2-search__field {
    border-bottom: none !important;
}
.select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
}
.multiple-pillbox .select2-selection--multiple .select2-selection__rendered {
    padding: 0px;
}
.multiple-pillbox .select2-selection--multiple .select2-selection__clear {
    display: none;
}
.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0;
}
.multiple-pillbox .select2-search--inline+.select2-search__field {
    border-bottom: none;
}
.select-checkbox .select2-search--inline .select2-search__field {
    position: relative;
    height: 50px !important;
    padding-right: 40px;
}
.multiple-pillbox .select2-results>.select2-results__options {
    max-height: 168px;
}
.c-multiple-pillbox,
.c-multiple-select {
    position: relative;
}
.j-multiple-pillbox-open.c-multiple-pillbox,
.j-multiple-select-open.c-multiple-select {
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 160px;
    z-index: 9;
}
/*.j-multiple-pillbox-open.c-multiple-pillbox {
    top: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}*/
.j-multiple-pillbox-open.c-multiple-pillbox::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: 0;
    height: 100vh;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    z-index: 10;
}
.j-multiple-pillbox-open.c-multiple-pillbox label,
.j-multiple-select-open.c-multiple-select .c-select-container {
    position: relative;
    z-index: 11;
}
.j-multiple-select-open.c-multiple-select::before,
.j-single-select-open.c-single-select::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    height: 100vh;
    color: #000;
    background-color: #fff;
    font-size: 10px;
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    z-index: 3;
    z-index: 10;
}
.c-multiple-select__title {
    display: none;
}
.j-multiple-select-open .c-multiple-select__title,
.j-single-select-open .c-single-select__title {
    position: absolute;
    left: -10px;
    right: -10px;
    display: block;
    color: #000;
    text-align: center;
    font-size: 20px;
    line-height: 16px;
    font-weight: 700;
    padding: 20px 0;
    -webkit-box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.44);
    z-index: 10;
}
.c-single-select__title {
    font-size: 13px;
    font-weight: 400;
}
.j-single-select-open .c-single-select__title {
    z-index: 9999;
    font-size: 20px;
    font-weight: 700;
}
.j-multiple-select-open .c-multiple-select__title .icon {
    position: absolute;
    right: 20px;
}
.j-multiple-pillbox-open.c-multiple-pillbox label {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 17px 0px;
    box-shadow: 0px 1px 17px 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
}
.j-multiple-select-open .c-multiple-select__title .icon-down,
.j-single-select-open .c-single-select__title .icon-down {
    position: absolute;
    right: 10px;
    font-size: 25px;
    line-height: 16px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.j-multiple-select-open.c-multiple-select .c-select-container {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
}
.j-multiple-select-open .select-checkbox.select2-container--focus .select2-selection--multiple,
.j-single-select-open .select-radio.select2-container--focus .select2-selection--single {
    position: relative;
    border: none;
}
.select-checkbox.select2-container--default .select2-selection--multiple::after,
.select-radio.select2-container--default .select2-selection--single::after {
    content: "\e900";
    position: absolute;
    top: 50%;
    right: 5px;
    font-family: 'aks' !important;
    line-height: 1;
    font-weight: normal;
    text-transform: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
    speak: none;
    font-style: normal;
    font-variant: normal;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.select-checkbox.select2-container .select2-search--inline,
.select-radio.select2-container .select2-search__field {
    width: 100% !important;
    padding-right: 30px;
    float: none;
}
.j-multiple-select-open .select-checkbox.select2-container--default .select2-selection--multiple::after,
.j-single-select-open .select-radio.select2-container--default .select2-selection--single::after {
    content: "\e901";
    right: -20px;
    font-family: 'aks' !important;
    font-size: 40px;
    line-height: 1;
    font-weight: normal;
    text-transform: none;
    speak: none;
    font-style: normal;
    font-variant: normal;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.j-multiple-select-open .select-checkbox .select2-selection--multiple .select2-selection__choice,
.j-single-select-open .select-radio .select2-selection--single .select2-selection__choice {
    display: none;
}
.j-multiple-select-open.c-multiple-select .select2-search__field,
.j-single-select-open.c-multiple-select .select2-search__field {
    padding-left: 0 !important;
    border-bottom: 1px dashed #989898
}
.j-multiple-select-open .select-checkbox .select2-search__field::-webkit-input-placeholder,
.j-single-select-open .select-radio .select2-search__field::-webkit-input-placeholder {
    color: #999 !important;
    font-size: 24px !important;
    font-weight: 700;
}
.j-multiple-select-open .select-checkbox .select2-search__field:-ms-input-placeholder,
.j-single-select-open .select-radio .select2-search__field:-ms-input-placeholder {
    color: #999 !important;
    font-size: 24px !important;
    font-weight: 700;
}
.j-multiple-select-open .select-checkbox .select2-search__field::-ms-input-placeholder,
.j-single-select-open .select-radio .select2-search__field::-ms-input-placeholder {
    color: #999 !important;
    font-size: 24px !important;
    font-weight: 700;
}
.j-multiple-select-open .select-checkbox .select2-search__field::placeholder,
.j-single-select-open .select-radio .select2-search__field::placeholder {
    color: #999 !important;
    font-size: 24px !important;
    font-weight: 700;
}
.select-radio.select2-container--open.select2-container--below .select2-selection--single,
.select-checkbox.select2-container--open.select2-container--below .select2-selection--multiple {
    border: none;
}
.select2-dropdown {
    border: none;
}
.select-checkbox .select2-selection__choice__remove,
.select-radio .select2-selection__choice__remove {
    opacity: 0;
}
.select-checkbox .select2-selection__choice+.select2-search--inline {}
.select-checkbox .selected,
.select-radio .selected {
    display: block;
    width: 100vw;
    height: 50px !important;
    background-color: #f6e61d;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    padding-left: 20px;
    margin-left: -20px;
    z-index: 99;
}
.select-checkbox .selected--edit,
.select-radio .selected--edit {
    background-color: #e6e6e6;
    font-weight: normal;
}
.selected--default {
    position: absolute;
    top: 0;
}
.select-checkbox .placeholder,
.select-radio .placeholder {
    display: block;
    width: 100%;
    height: 36px;
    background-color: #fff;
    line-height: 34px;
    font-weight: normal;
    padding-left: 10px;
}
.j-multiple-select-open .select2-selection__choice+.select2-search--inline {
    background-color: #fff;
}
.select-checkbox .select2-selection--multiple .select2-selection__choice,
.select-radio .select2-selection--single .select2-selection__choice {
    width: 100%;
    background-color: transparent;
    font-weight: 700;
    padding: 0;
    border: none;
    margin: 0;
}
.multiple-pillbox .select2-selection--multiple .select2-selection__choice {
    display: inline-block;
    width: auto !important;
}
.select2-container--default .select2-results__option {
    padding: 10px 6px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #000;
    background-color: #f6e61d;
}
.multiple-pillbox .select2-dropdown,
.select-checkbox .select2-dropdown,
.select-radio .select2-dropdown {
    margin-top: 20px;
    margin-left: -10px;
}
.multiple-pillbox .select2-results,
.select-checkbox .select2-results,
.select-radio .select2-results {
    margin-right: -20px;
}
.multiple-pillbox .select2-results__option {
    padding-left: 10px;
}
.c-advanced-search .c-form__field--calendar {
    margin-bottom: 0;
}
.c-calendar {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    padding-top: 10px;
    margin-right: 6%;
    float: left;
}
.c-calendar--end {
    margin-right: 0 !important;
    float: none;
}
.c-calendar label {
    display: inline-block !important;
    vertical-align: middle;
    font-size: 13px !important;
    font-weight: 700;
    margin-right: 5px;
    margin-bottom: 0 !important;
}
.c-calendar input {
    display: inline-block;
    vertical-align: middle;
    width: 64%;
    border-bottom: 1px dashed #989898
}
.c-calendar .input--edit {
    font-weight: normal;
}
.c-calendar input::-webkit-input-placeholder {
    font-size: 15px !important;
}
.c-calendar input:-ms-input-placeholder {
    font-size: 15px !important;
}
.c-calendar input::-ms-input-placeholder {
    font-size: 15px !important;
}
.c-calendar input::placeholder {
    font-size: 15px !important;
}
.is-inrange .pika-button {
    color: #000;
    background-color: #fbf5a5;
}
.is-endrange .pika-button,
.is-startrange .pika-button {
    color: #000;
    background: #f6e61d;
}
.is-disabled .pika-button {
    color: #666666 !important;
    background: transparent;
}
.pika-label {
    background-color: transparent;
    font-family: "futura-pt", sans-serif;
    text-transform: uppercase;
}
.pika-title {
    background-color: #e6e6e6;
    padding-top: 5px;
    padding-bottom: 5px;
}
.pika-lendar:first-of-type .pika-title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    background-color: #fff;
}
.pika-table abbr {
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
.pika-button {
    color: #000;
    background-color: transparent;
    padding: 8px;
}
.pika-lendar {
    position: relative;
    margin: 0;
}
.pika-lendar:first-of-type::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 5px;
    width: 1px;
    background-color: #e6e6e6;
}
.pika-single.is-bound {
    -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, .4);
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, .4);
}
.pika-single {
    font-family: "futura-pt", sans-serif;
}
.pika-prev, .pika-next{
    position: absolute;
    top: 5px;
    font: none;
    display: block;
    width: 30px;
    height: 30px;
    opacity: 1;
    text-indent: -9999px;
    overflow: hidden;
}
.pika-prev{
    left: 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABGdBTUEAALGPC/xhBQAAAXVJREFUSA1jYBgFoyEwGgJDPQSYqeGBzMxMT2NjY9GzZ88+IdY8JmIV4lKXlpZW8ffv321A+UpcarCJs2ATJFYsPT29+////yWMjIzXgDiTWH0gdWQF9apVq5gFBQXnAPVnA/FJbm5ulylTprwCGUgsYCRWIUxdbm4u+69fv5YDfRoI9OVuXl7ewJ6enq8weWJpkuK4rKyMF2jpNqilayQlJX3IsRTkOJIs/vjx42KgpU5AfQuBloY3NDT8ItaH6OpIshgYtKehBpg8e/ZMHN0wUvgkJa4zZ84cBubX30ALIoA4wNTUdBNQ7AMpFsLUkmQxSBOwkDgMtPAtMMijgDjEzMxsG9DytzADiaVJTtUwg4EFRzyQPReI37GwsLhNmzbtAkyOGJpsi0GGAwuQIKCvlwOZ34CWewMtP0aMpSA1JCUudENnzpy5jomJyQ8ozgYsNmejy+PjU2QxyOAZM2bsBKZ2U6ADkvFZNCo3GgKjITD8QgAAQ7ZyBfCXEpgAAAAASUVORK5CYII=')
}
.pika-next{
    right: 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABGdBTUEAALGPC/xhBQAAAX5JREFUSA1jYBgFoyEwGgJDPQQYSfVAfn6++Pfv332lpKQWNTQ0/CJVP0w9E4xBLP3jxw8voNrZz58/35aVlcVDrD50dSRb7OzsvIiRkXHu////nf/+/bs3OztbGN1QYvgkBzXM0PT09C6g5aVAR1wDYrcZM2Y8hckRQzMTowibmrNnz+42MTH5AbQ8EoiDgeytQLF32NRiEyPbxzDD0tLSUoDsGUBfvwViD6DPz8Pk8NEUWwwyHBjsIUBfrwIyP3FxcSlMmDDhAz5LQXIkJy50A4FZCmSGGxADPcx4XUBA4Au6Gmx8inwMtJTl2bNni4EGRwDxfhYWFr9p06YRZTHZPgZaygHMy+tAlgJ9ugVYoHgRaykoBMjyMajgAObhjcB4dQKasQJoaSzQIX9ABhILSLY4MzNTEGjpdqAF5kCfzpaUlMwAWvqPWAth6lhgDGJpoKXFQLXmQNw7c+bMEmL1oasj2WI2NrZpv3//PgK0dAe6YaP80RAYDYGRFQIADcJ7TpfpImsAAAAASUVORK5CYII=')
}

.c-form__footer {
    background-color: rgb(230, 230, 230);
    text-align: center;
    padding: 30px 20px 20px;
    margin-left: -20px;
    margin-right: -20px;
}
.c-reset {
    display: block;
    color: rgb(175, 34, 77);
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
    text-decoration: underline;
}
.c-button {
    display: block;
    width: 100%;
    color: #fff;
    background-color: rgb(33, 33, 33);
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 17px;
    cursor: pointer;
}
.c-button--small {
    position: relative;
    color: #000;
    background-color: #fff;
    text-transform: none;
    padding: 10px !important;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 30px 0 rgba(41, 36, 36, 0.8);
    box-shadow: 0 0 30px 0 rgba(41, 36, 36, 0.8);
}
.c-button--small::before {
    content: "Filter";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    font-size: 20px;
    line-height: 41px;
    padding-left: 10px;
    padding-right: 30%;
}
.c-button .icon {
    margin-left: 25px;
}
/*CHECKBOX*/
.select-checkbox .select2-results__option[aria-selected=true] {
    background-color: transparent;
}
.select-radio .select2-results__option[aria-selected=true] {
    background-color: #f6e61d;
}
.select-checkbox .select2-results__option,
.select-radio .select2-results__option {
    position: relative;
    padding-left: 38px;
}
.select-radio .select2-results__option {
    padding-left: 10px;
}
.select-checkbox .select2-results__option::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 10px;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2px;
}
.select-checkbox .select2-results__option[aria-selected=true]::before {
    width: 19px;
    height: 19px;
    background-color: #f6e61d;
    border: none;
}
.select-checkbox .select2-results__option[aria-selected=true]::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 14px;
    width: 10px;
    height: 5px;
    background-color: transparent;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*C-FORM__FILTER*/
.c-form--filter .c-form__header,
.c-form--filter .c-form__content,
.c-form--filter .c-form__footer .c-reset {
    display: none;
}
.c-form--filter .c-button .icon-circle-arrow-down {
    display: none;
}
.c-form--filter .c-button .icon-filter {
    display: inline-block;
    font-size: 30px;
    line-height: 41px;
}
.c-form--filter .c-form__footer {
    position: fixed;
    left: 50%;
    bottom: 10px;
    background-color: transparent;
    padding: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.j-filter-open .c-form--filter .c-form__content,
.j-filter-open .c-form--filter .c-form__footer .c-reset {
    display: block;
}
.page-template-p-clienti .c-form--filter .c-form__footer .c-reset,
.page-template-p-industry .c-form--filter .c-form__footer .c-reset {
    display: none;
}
.page-template-p-clienti.j-choise-select .c-form--filter .c-form__footer .c-reset,
.page-template-p-industry.j-choise-select .c-form--filter .c-form__footer .c-reset {
    display: block;
}
.j-filter-open .c-form--filter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 5;
}
.j-filter-open .c-form--filter .c-form__header {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 1px 17px 0px;
    box-shadow: 0px 1px 17px 0px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
}
.j-filter-open .c-form--filter .c-button {
    opacity: 0;
}
/*C-CURRENT-QUERY*/
.c-current-query {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    padding: 0 18px;
}
.c-select-container {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    overflow: hidden;
}
.c-select {
    display: block;
    width: 100%;
    height: auto;
    color: #000;
    background: transparent;
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: underline;
}
.c-select option[disabled] {
    display: none;
}
/*COMPORTAMENTO SEARCH*/
body.j-overlay .l-page::before {
    bottom: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
body.j-overlay {
    overflow: hidden;
}
body.j-overlay .j-search .select2-container--open {
    position: relative;
    z-index: 800;
}
.j-overlay .c-site-header {
    position: relative;
    z-index: 600;
}
.j-overlay .l-page {
    padding-top: 0px;
}
.j-overlay .c-site-header__nav {
    position: static;
    background-color: transparent;
}
.j-overlay .c-site-header__nav__menu {
    margin-top: 0;
}
.j-overlay .c-site-header__nav__menu li {
    display: none;
}
.j-overlay .c-site-header__nav__menu li:last-of-type {
    position: absolute;
    display: block;
}
#j-overlay-clickarea{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}
/* SEARCH*/
/*C-MODAL*/
.c-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 900;
    overflow-y: scroll;
}
.c-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
/*C-SIDEBAR*/
.c-sidebar {
    position: absolute;
    top: 0;
    opacity: 0;
}
.j-sidebar-open .c-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212121;
    padding: 20px;
    overflow: scroll;
    opacity: 1;
    z-index: 999;
}
.c-sidebar__header {
    position: relative;
    margin-bottom: 60px;
}
.c-sidebar__header__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
}
.c-sidebar__header__close:hover {
    color: #fff;
}
.c-sidebar__header__close .icon {
    font-size: 30px;
}
.c-sidebar__header>* {
    color: #fff;
    font-weight: 400;
}
.c-sidebar__lead {
    margin-top: 5px;
}
.c-sidebar__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #d8d8d8;
    padding: 17px 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.c-sidebar__footer__title {
    text-transform: uppercase;
}
.c-sidebar__footer__link .icon {
    display: none;
    color: #696969;
    font-size: 40px;
}
.c-notification {
    position: relative;
    background-color: #2F2F2F;
    margin-bottom: 20px;
}
.c-notification__header {
    position: relative;
    padding: 10px 10px 0 60px;
}
.c-notification--small .c-notification__header {
    padding: 10px 10px 0 10px;
}
.c-notification__header>* {
    color: #fff;
}
.c-notification__header__figure {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
.c-notification__header__figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.c-notification__header__title {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}
.c-notification__header__lead {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.c-notification__content {
    color: #fff;
    font-size: 16px;
    padding-left: 60px;
    margin-top: 20px;
    margin-bottom: 27px;
}
.c-notification--small .c-notification__content {
    padding-left: 10px;
}
.c-notification__footer {
    text-align: center;
    font-size: 0;
    padding: 0px 10px 10px 10px;
}
.c-notification__footer__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 48.5%;
    color: #fff;
    background-color: #4D4D4D;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 23px;
    margin-right: 3%;
}
.c-notification__footer__link:last-of-type {
    margin-right: 0;
}
.c-notification__footer__link:hover {
    color: #000;
    background-color: #f6e61d;
}
.c-notification--small .c-notification__footer__link {
    width: 100%;
}
.c-notificiation__published {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: #666666;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
}
.c-notificiation__published .icon {
    font-size: 40px;
}
.c-notificiation__published__link {
    text-decoration: underline;
}
/*SCHEDA EDIT*/
.c-form--edit {
    padding: 0 !important;
    margin-left: -20px;
    margin-right: -20px;
}
.c-form--edit .c-form__header {
    padding-left: 20px;
    padding-right: 20px;
}
.c-form--edit .c-form__header .c-form__field textarea {
    width: 100% !important;
    color: #fff;
    background-color: transparent;
    text-align: left;
    font-family: "futura-pt", sans-serif;
    font-size: 28px;
    font-weight: 600;
    padding: 0;
    border: none;
    border-bottom: 2px dotted #fff;
    resize: none;
}
.c-form--edit .c-form__header .c-form__field textarea::-webkit-input-placeholder {
    color: #fff;
    font-size: 44px;
}
.c-form--edit .c-form__header .c-form__field textarea:-ms-input-placeholder {
    color: #fff;
    font-size: 44px;
}
.c-form--edit .c-form__header .c-form__field textarea::-ms-input-placeholder {
    color: #fff;
    font-size: 44px;
}
.c-form--edit .c-form__header .c-form__field textarea::placeholder {
    color: #fff;
    font-size: 44px;
}
.c-form--edit .c-form__header label {
    color: #fff;
    font-size: 16px;
}
.c-form--edit .c-form__fieldset {
    position: relative;
    background-color: #fff;
    padding: 50px 25px;
}
.c-form--edit .c-form__fieldset:first-of-type {
    background-color: #e6e6e6;
}
.c-form--edit .c-form__fieldset:nth-of-type(2) {
    margin-top: 70px;
}
.c-form--edit .c-tabs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
}
.c-form--edit .multiple-pillbox .select2-selection--multiple,
.c-form--edit .select-checkbox .select2-selection--multiple,
.c-form--edit .select-radio .select2-selection--.select-radio .select2-selection--single {
    background-color: transparent;
}
/*.c-form--edit label {
    position: absolute !important;
    top: -25px;
}*/
.c-form--edit .c-calendar label {
    display: block !important;
    font-size: 14px !important;
    font-weight: 400;
}
.c-form--edit .c-calendar input {
    background-color: transparent;
}
.c-form--edit .c-calendar input::-webkit-input-placeholder {
    font-size: 20px !important;
}
.c-form--edit .c-calendar input:-ms-input-placeholder {
    font-size: 20px !important;
}
.c-form--edit .c-calendar input::-ms-input-placeholder {
    font-size: 20px !important;
}
.c-form--edit .c-calendar input::placeholder {
    font-size: 20px !important;
}
.c-advanced-search .c-form--edit .c-select-container {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #999999;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.c-advanced-search .c-form--edit .c-form__content input::-webkit-input-placeholder {
    color: #999999 !important;
    font-size: 20px !important;
}
.c-advanced-search .c-form--edit .c-form__content input:-ms-input-placeholder {
    color: #999999 !important;
    font-size: 20px !important;
}
.c-advanced-search .c-form--edit .c-form__content input::-ms-input-placeholder {
    color: #999999 !important;
    font-size: 20px !important;
}
.c-advanced-search .c-form--edit .c-form__content input::placeholder {
    color: #999999 !important;
    font-size: 20px !important;
}
.c-form--edit .c-form__content .c-form__fieldset textarea {
    width: 100%;
    height: 100%;
    color: #000;
    padding: 15px;
    border: 2px solid #e6e6e6;
    resize: none;
}
.c-form--edit .c-form__content .c-form__fieldset textarea::-webkit-input-placeholder {
    color: #999999;
    font-size: 16px;
}
.c-form--edit .c-form__content .c-form__fieldset textarea:-ms-input-placeholder {
    color: #999999;
    font-size: 16px;
}
.c-form--edit .c-form__content .c-form__fieldset textarea::-ms-input-placeholder {
    color: #999999;
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
}
.c-form--edit .c-form__content .c-form__fieldset textarea::placeholder {
    color: #999999;
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
}
.c-form__fieldset__footer {
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -50px;
}
.c-form__fieldset__footer__button,
.c-content-block--read__footer__button {
    position: relative;
    display: block;
    width: 100%;
    color: #212121;
    background-color: #ECECEC;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    padding: 20px;
}
.c-content-block--read__footer__button {
    padding: 30px 20px;
}
.c-form__fieldset__footer__button .icon,
.c-content-block--read__footer__button .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 23px;
    line-height: 23px;
    margin-right: 5px;
}
.c-form--edit .c-form__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    padding: 0 20px;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
.c-form__fieldset__footer__button::after,
.c-content-block--read__footer__button::after {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 1px;
    background-color: #9b9b9b;
}
.c-form__fieldset__footer__button:last-of-type::after,
.c-content-block--read__footer__button:last-of-type::after {
    display: none;
}
.c-form--edit .c-form__footer .c-button .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    margin-left: 0;
    margin-right: 5px;
}
.c-form__footer__buttons .c-button {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    font-weight: 400;
    padding: 15px;
    margin-right: 22px;
}
.c-form--edit .c-form__footer .c-button:hover {
    color: #fff;
}
.c-form__footer__buttons .c-button:last-of-type {
    margin-right: 0;
}
.c-button--ghost {
    border: 3px solid #fff;
    border-radius: 2px;
}
.c-form__footer__buttons .c-button--green {
    background-color: #429e92;
    border: 3px solid #429e92;
    border-radius: 2px;
}
.c-button--light {
    font-weight: 400 !important;
    padding: 15px !important;
}
.c-button--light .icon {
    margin-left: 0;
}
.c-form--edit .c-form__footer .c-button--cancel {
    display: none;
    font-weight: 400;
    padding: 15px;
}
.page-template-p-editproject .l-page {
    padding-top: 100px;
}
.page-template-p-editproject.j-edit-no-complet-open .l-page {
    position: relative;
}
.page-template-p-editproject.j-edit-no-complet-open,
.page-template-p-editproject.j-approval-open {
    overflow: hidden;
}
.c-edit-no-complet,
.c-approval {
    display: none;
}
.j-edit-no-complet-open .c-edit-no-complet,
.j-approval-open .c-approval {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 5;
}
.j-approval-open .c-approval {
    background-color: #212121;
}
.j-approval-open .c-approval .c-logo {
    position: fixed;
    top: 16px;
    left: 25px;
}
.j-edit-no-complet-open .c-edit-no-complet__content,
.j-approval-open .c-approval__content {
    position: relative;
    top: 50%;
    color: #fff;
    text-align: center;
    padding-top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.j-edit-no-complet-open .c-edit-no-complet__content .icon,
.j-approval-open .c-approval__content .icon {
    display: block;
    font-size: 150px;
    margin-bottom: 80px;
}
.c-edit-no-complet__title,
.c-approval__title {
    color: #fff;
    margin-bottom: 20px;
}
.c-edit-no-complet__lead,
.c-approval__lead {
    color: #fff;
    font-weight: 400;
}
.c-edit-no-complet__footer__buttons,
.c-approval__footer__buttons {
    font-size: 0;
    margin-top: 85px;
    margin-bottom: 35px;
}
.c-edit-no-complet__footer__buttons>*,
.c-approval__footer__buttons>* {
    display: inline-block;
    width: 330px !important;
    padding: 15px !important;
}
.c-edit-no-complet__footer__buttons .c-button:not(.c-button--ghost) {
    color: #000;
    background-color: #fff;
    border: 3px solid #fff;
    margin-top: 22px;
}
.c-edit-no-complet__footer__back,
.c-approval__footer__back {
    font-size: 18px;
    text-decoration: underline;
}
.j-edit-no-complet-open .c-edit-no-complet__content__close,
.j-approval-open .c-approval__close {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    z-index: 6;
}
.c-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.c-form--edit .c-tabs {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}
.c-tabs__item {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 6px solid transparent;
}
.c-tabs__item.j-active,
.c-tabs__item:hover {
    color: #f6e61d;
    border-bottom: 10px solid #f6e61d;
}
/*SCHEDA LETTURA*/
.page-template-p-viewproject .c-content-block:last-of-type {
    padding-bottom: 50px;
}
.l-2col--big {
    position: relative;
    padding-bottom: 170px;
    margin-left: -20px;
    margin-right: -20px;
}
.l-2col--big>:first-child {
    background-color: #e6e6e6;
    margin-bottom: 50px;
}
.l-2col--big>:nth-child(2) {
    background-color: #fff;
    padding-top: 45px;
}
.l-2col--big>* {
    padding: 20px;
}
.c-content-block--read__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.c-tabs {
    position: relative;
}
.c-tabs__nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
}
.c-tabs__nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    overflow-x: scroll;
}
.c-tabs__nav__menu li {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px 20px;
    border-bottom: 6px solid transparent;
}
.c-tabs__nav__menu li.j-active {
    color: #f6e61d;
    border-color: #f6e61d;
}
.c-tabs__content {
    font-size: 16px;
    line-height: 24px;
}
.c-tabs__content>* {
    display: none !important;
}
.c-tabs__content>.j-active {
    display: block !important;
}
.c-read-item {
    color: #000;
    font-size: 18px;
    margin-bottom: 30px;
}
.c-read-item--inline {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.c-read-item__title {
    display: block;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.c-read-item__content__item {
    display: inline-block;
    vertical-align: top;
}
.c-read-item__content__item--skill {
    position: relative;
    margin-right: 3px;
    cursor: pointer;
}
.c-read-item__content__item--skill .c-tooltip {
    padding-left: 10px;
}
.c-read-item__content__item--skill:hover .c-tooltip, .c-read-item__content__item--skill:active .c-tooltip, .c-read-item__content__item--skill:focus.c-tooltip {
    display: block;
}
.c-read-item__content--user .c-read-item__content__item {
    position: relative;
    margin-right: -10px;
    cursor: pointer;
}
.c-read-item__content__item__user {
    width: 32px;
    height: 32px;
    color: #fff;
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), -1px 2px 5px 2px rgba(0, 0, 0, 0.12), 0 0px 0px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), -1px 2px 5px 2px rgba(0, 0, 0, 0.12), 0 0px 0px 1px rgba(0, 0, 0, 0.14);
    overflow: hidden;
}
.c-read-item__content__item__user img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.c-tooltip {
    position: absolute;
    left: calc(100% - 3px);
    bottom: calc(100% - 3px);
    display: none;
    min-width: 210px;
    background-color: #fff;
    padding: 10px 10px 10px 55px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 8px 10px 1px rgba(0, 0, 0, 0.14);
    z-index: 1;
}
.c-tooltip__title {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}
.c-tooltip__lead {
    color: #6E6E6E;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}
.c-tooltip .c-read-item__content__item__user {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
    line-height: 36px;
}
.c-read-item__content--user .c-read-item__content__item:hover .c-tooltip, .c-read-item__content--user .c-read-item__content__item:active .c-tooltip {
    display: block;
}
.c-read-item__content--user .c-read-item__content__item--more .c-read-item__content__item__user {
    color: #666666;
    background-color: #CCCCCC;
}
.c-read-item__content--user .c-read-item__content__item--more .c-tooltip .c-read-item__content__item__user {
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}
.c-read-item__content--user .c-read-item__content__item--more .c-tooltip .c-tooltip__title {}
.c-read-item__content--user .c-read-item__content__item--more .c-tooltip {
    padding-left: 10px;
}
.c-read-item__content--user .c-read-item__content__item--more .c-tooltip__item {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
}
.c-read-item__content--user .c-read-item__content__item--more .c-tooltip__item:last-of-type {
    margin-bottom: 0;
}
.c-read-item__content--tags .c-read-item__content__item {
    background-color: #fff;
    font-size: 16px;
    padding: 5px;
    -webkit-box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 2px rgba(0, 0, 0, 0.12), 0 2px 0px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.2), 0 1px 0px 2px rgba(0, 0, 0, 0.12), 0 2px 0px 1px rgba(0, 0, 0, 0);
    margin-right: 5px;
    margin-bottom: 10px
}
.c-read-item__content--tags .c-read-item__content__item:hover {
    -webkit-box-shadow: 0px 7px 23px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 7px 23px 1px rgba(0, 0, 0, 0.4);
}
.c-content-block--read .c-content-block__footer .c-button:last-of-type {
    font-size: 20px;
    text-transform: none;
}
.c-content-block--read .c-content-block__footer .c-button .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    margin-left: 0;
    margin-right: 5px;
}
.c-content-block--read .c-content-block__footer .c-button span:not(.icon) {
    display: none;
}
.c-content-block__header__title {
    color: #fff;
}
.c-content-block--read {
    margin-bottom: 60px !important;
}
.c-content-block__header {
    margin-bottom: 35px;
}
.c-related-projects-slider {
    margin-left: -20px;
    margin-right: -20px
}
.c-related-projects-slider .slick-list {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.c-related-projects-slider .c-project-item {
    position: relative;
    width: auto;
    height: 220px;
    margin-left: 20px;
    margin-right: 20px
}
.c-related-projects-slider .c-project-item.slick-current {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.c-related-projects-slider .slick-dots {
    text-align: center;
    margin-top: 10px;
}
.c-related-projects-slider .slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.c-related-projects-slider .slick-dots li button {
    width: 6px;
    height: 6px;
    background-color: #cccccc;
    font-size: 0;
    font-size: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}
.c-related-projects-slider .slick-dots li.slick-active button {
    background-color: #f6e61d;
}
.c-related-projects-slider .slick-dots li:last-of-type {
    margin-right: 0;
}
.c-related-projects-slider .slick-arrow {
    position: absolute;
    top: calc(50% - 42px);
    color: #616161;
    background-color: transparent;
    font-size: 45px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.c-related-projects-slider .slick-arrow:hover{
    color: #fff;
    cursor: pointer;
}
.c-related-projects-slider .slick-arrow .icon {
    display: block;
}
.c-related-projects-slider .slick-prev {
    left: 0;
}
.c-related-projects-slider .slick-next {
    right: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
.c-content-block--read .c-content-block__footer {
    text-align: center;
    margin-top: 30px;
}
.c-content-block--read .c-content-block__footer .c-button:first-of-type {
    display: none;
}
.c-skill {
    display: block;
    width: 30px;
    height: 30px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-size: 23px;
    line-height: 26px;
    font-weight: 700;
    border: 2px solid #000;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.c-floating-action {
    position: fixed;
    right: 35px;
    bottom: 20px;
    display: block;
    width: 88px;
    height: 88px;
    color: #fff;
    background-color: #A1304E;
    text-align: center;
    font-size: 80px;
    line-height: 88px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 30px 0 rgba(41, 36, 36, 0.4);
    box-shadow: 10px 10px 30px 0 rgba(41, 36, 36, 0.4);
    z-index: 999;
}