body {
  padding: 0;
  margin: 0;
  font-family: "futura-pt", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #1d1d1b;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "futura-pt", sans-serif;
  margin: 0;
}

a,
a:hover {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

button {
  border: none;
}

blockquote {
  margin: 0;
}

.l-container {
  padding-left: 20px;
  padding-right: 20px;
}

body {
  margin: 0;
  font-family: "futura-pt", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #1d1d1b;
  line-height: 1;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt", sans-serif;
}

a,
a:hover {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

button {
  border: none;
}

.t-title1 {
  margin-top: 0;
  color: #000;
  font-family: "futura-pt", sans-serif;
  font-size: 28px;
  line-height: 1;
}

.t-title2 {
  color: #000;
  font-family: "futura-pt", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.1;
}

.t-title3 {
  color: #000;
  font-family: "futura-pt", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
}

.t-title4 {
  color: #000;
  font-family: "futura-pt", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}

.t-title5 {
  color: #000;
  font-family: "futura-pt", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.t-lead1 {
  font-family: "futura-pt", sans-serif;
  color: #000;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}

.t-lead2 {
  font-family: "futura-pt", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}

.t-content-text {
  font-size: 18px;
}

@media (min-width: 1024px) {
  .l-container {
    width: 100%;
    max-width: 1500px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  body {
    font-size: 23px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.58px;
  }

  .t-title1 {
    font-size: 44px;
  }

  .t-title2 {
    font-size: 30px;
  }

  .t-title3 {
    font-size: 28px;
  }

  .t-title4 {
    font-size: 24px;
  }

  .t-title5 {
    font-size: 18px;
  }

  .t-lead1 {
    font-size: 44px;
    font-weight: 400;
  }

  .t-lead2 {
    font-size: 18px;
  }

  .t-content-text {
    font-size: 23px;
  }

  .t-content-text--2col {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 4%;
            column-gap: 4%;
  }
}
@media (min-width: 1280px) {
  .l-container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
