.pdocrud-table {
    table-layout:auto;
}
#pdocrud-ajax-loader {  
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
    display: none;
}
.pdocrud-img-ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}
.pdocrud-gmap{
    min-height: 400px;
    min-width: 400px;
}
.pdocrud-hide{
    display: none !important;
}
.pdocrud-show{
    display: none !important;
}
span.field-validation-error {
    display: inline;
    margin: 5px 0px;
    width: auto;
    color: #B94A48;
}
/*form wizard*/
.stepy-tab {
    text-align: center;
}
.stepy-tab ul{
    display: inline-block;
}
.stepy-tab ul li {
    float: left;
}
.step legend {
    border: none;
}
.button-back {
    float: left;
}
.button-next, .finish {
    float: right;
}
.button-back, .button-next, .finish {
    cursor: pointer;  text-decoration: none;
}
.step {
    clear: left;
}
.step label {
    display: block;
}
.stepy-titles li {
    color: #757575;
    cursor: pointer;
    float: left;
    margin: 10px 15px;
}
.stepy-titles li span { display: block; }
.stepy-titles li.current-step div {
    color: #fff;
    cursor: auto;
    background: #A9D86E;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
}
.stepy-titles li div{
    font-size:16px;
    font-weight: 300;
    background: #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
}
.datepicker{z-index:1151 !important;}
/*********/
.pdocrud-pagination .pagination{
    margin: 0px;
    margin-right: 7px;
}
.pdocrud-options{                               
    background: #fff;
    border: 1px solid #cbcbcb;
}
.pdocrud-options ul{
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}
.pdocrud-options ul i{
    font-size: 20px;
}
.pdocrud-options ul li{
    display: inline-block;
    padding: 5px;
    border-right: 1px solid #cbcbcb;
    width: 28px;
    height: 31px;
}
.pdocrud-options ul li img{
    width: 100%;
}
.pdocrud-table-container table{
    margin-bottom: 0px;
}
.pdocrud-table-container table tr.pdocrud-header-row {
    color: #4e5e6a;
}
.pdocrud-table-container table tr.pdocrud-header-row th {
    border: 1px solid #f2f2f2;
}
.pdocrud-table-container table tr.pdocrud-header-row th,.pdocrud-table-container .table tbody tr td{
    border-right: 1px solid #d5d5d5;
    white-space: nowrap;
}
.pdocrud-actions-sorting{
    cursor: pointer;
}
.pdocrud-button-export{
    background: #fff;
    border-color: #e2e7f1 !important;
    text-decoration: none;
}
ul.pdocrud-export-options {
    list-style: none;
    margin: 0px;
    padding: 0px;    
}
ul.pdocrud-export-options li {
    float: left;
    margin: 0 -1px;    
    height: 28px;
}
ul.pdocrud-export-options li a {
    box-shadow: none !important;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 6px 10px;
}
.pdocrud-options-files{
    margin-top: 15px;
}
.w1{
    width:30px;
}
.pdocrud-left-join th{
    border-bottom: 2px solid transparent !important;
}
.pdocrud-left-join td{
    border-right: 1px solid transparent !important;
    border-top: 1px solid transparent !important;
}
.pdocrud-sort{
    background:url('images/sort_both.png') no-repeat center right;
}
.pdocrud-desc{
    background:url('images/sort_desc.png') no-repeat center right;
}
.pdocrud-asc{
    background:url('images/sort_asc.png') no-repeat center right;
}
.pdo-search-cols a,.pdocrud-button-delete-all{
    padding: 7px 12px;
    display: inline-block;
}
.pdocrud-pagination .pagination>li>a{
    cursor: pointer;
}
.pdocrud-table-container table tr.pdocrud-header-row th span{
    padding-right: 2px;    
}
.pdocrud-filter-selected{
   box-shadow: 0 2px 4px 0 hsla(0,0%,100%,.5);
}
.pdocrud-filter-option{
    cursor: pointer;
    font-size: 12px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px 0 hsla(0,0%,100%,.5);
    border-radius: 3px;
    margin: 2px 4px;
    overflow: hidden;
    transition: background-color .1s;
    max-width: 200px;
    padding: 8px;
    display: none;
}
.pdocrud-filter-option-remove{
    cursor: pointer;
}
#pdocrud-custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}
.pdocrud-portfolio-col-data{
    width: 100%;
}
.pdocrud-portfolio-col-data-horizontle{
    width: 50%;
    float: left;
}
.pdocrud_add_file{
    margin: 2px 5px 0 0;
}
.pdocrud_remove_file{
    margin: 2px 5px 0 0;
}
.pdocrud-filecontrol-div{
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
/*Sidebar css*/
.pdocrud-side-bar-heading{
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
    background: #5F9EA0;
}
.pdocrud-side-bar-heading a {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(256,256,256,0.3);
    display: inline-block;
}
.pdocrud-side-bar-heading a img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.pdocrud-side-bar-heading h1 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
}
.pdocrud-date-range-report {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #5bc0de;
  color: #fff !important;
  padding: 2px 6px 2px 6px;
  border: 1px solid #46b8da;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}
.pdocrud-date-range-report:hover{
    text-decoration: none;
}

.mysearch{
    background-image: url('/wp-content/uploads/2018/09/search.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 28%;
}
.mysearch:hover{
    background-image: url('/wp-content/uploads/2018/09/search.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 28%;
}
.mysearch:focus{
    background-image: url('/wp-content/uploads/2018/09/search.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 28%;
}
.mysearch_view {
    background-image: url(/wp-content/uploads/2018/09/search.png) !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 28%;
}
.mysearch_view:hover{
    background-image: url('/wp-content/uploads/2018/09/search.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 28%;
}
.mysearch_view:focus{
    background-image: url('/wp-content/uploads/2018/09/search.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 28%;
}



.mydelete{
    background-image: url('/wp-content/uploads/2018/09/delete.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 25px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 17%;
}
.mydelete:hover{
    background-image: url('/wp-content/uploads/2018/09/delete.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 25px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 17%;
}
.mydelete:focus{
    background-image: url('/wp-content/uploads/2018/09/delete.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 25px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 17%;
}
.myprint{
    background-image: url('/wp-content/uploads/2018/09/print.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 21%;
}
.myprint:hover{
    background-image: url('/wp-content/uploads/2018/09/print.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 21%;
}
.myprint:focus{
    background-image: url('/wp-content/uploads/2018/09/print.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 21%;
}
.myedit{
    background-image: url('/wp-content/uploads/2018/09/save.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 19% !important;
}
.myedit:hover{
    background-image: url('/wp-content/uploads/2018/09/save.png') !important;
    background-repeat: no-repeat !important;
    background-position: left !important;
    background-size: 20px 20px !important;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 19% !important;
}
.myedit:focus{
    background-image: url('/wp-content/uploads/2018/09/save.png') !important;
    background-repeat: no-repeat !important;
    background-position: left !important;
    background-size: 20px 20px !important;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 19% !important;
}
.mydownload{
    background-image: url('/wp-content/uploads/2018/09/download.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 26%;
}
.mydownload:hover{
    background-image: url('/wp-content/uploads/2018/09/download.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 26%;
}
.mydownload:focus{
    background-image: url('/wp-content/uploads/2018/09/download.png') !important;
    background-repeat: no-repeat !important;
    background-position: left;
    background-size: 20px 20px;
    text-align: left !important;
    padding-left: 1.5em !important;
    width: 26%;
}